* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    /* Rolagem da pagina suave */
    text-decoration: none;
}


:root {
    /* Crindo variveis*/
    --bgColor: #f5f5f5;
    --textColor: #1c1c1c;
    --mainColor: #ff6347;
    --secondColor: #b3b2b2;
    --bigFont: 4.5rem;
    --h2Font: 3.2rem;
    --pFont: 1.2rem;

}

body {
    background: var(--bgColor);
    color: var(--textColor);

}

header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    /*profundidade*/
    z-index: 10;

}



section {
    max-width: 1100px;
    margin: 0 auto;
    padding: 100px;
}

header.sticky {
    /*alpacidade 80%*/
    color: rgba(255, 255, 255, 0.8);
    padding-top: 5px 0;
    /*Sompra com 10px de distancia e 20% alpacidade*/
    box-shadow: 0 0 10px rgb(0 0 0 / 20%);
}

footer {
    text-align: center;
    padding: 50px 0;
    font-size: var(--pFont);
    color: var(--secondColor);
}



#header {
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.logoHeader img {
    width: 50px;

}

.navbarHeader {
    display: flex;
    list-style: none;

}

.navbarHeader li {
    position: relative;
}

.navbarHeader a {
    color: var(--textColor);
    font-size: var(--pFont);
    font-weight: 500;
    padding: 10px 20px;
}

.navbarHeader a::after {
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: var(--mainColor);
    bottom: -5px;
    left: 0;
    transition: ease 0.50s;
}

.navbarHeader a:hover::after {
    width: 100%;
}

#navbarIcon {
    font-size: 25px;
    color: var(--textColor);
    z-index: 11;
    cursor: pointer;
    display: none;
}

.btnHeader {
    display: inline-block;
    padding: 10px 25px;
    border: 2px solid var(--mainColor);
    border-radius: 10px;
    color: var(--mainColor);
    letter-spacing: 1px;
    font-size: var(--pFont);
    font-weight: 500;
    transition: ease 0.50s;

}

.btnHeader:hover {
    color: var(--bgColor);
    background: var(--mainColor);
    transform: scale(1.2);
}

.home {
    min-height: 100vh;
    width: 100%;
    height: 100%;
    position: relative;
    display: grid;
    /*grade com duas coluas de tamanhos iguais*/
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    /*Intervalo entre as colunas*/
    grid-gap: 5rem;

}

.homeText h1 {
    margin: 12px 0 25px;
    font-size: var(--bigFont);
}

.homeText h5 {
    margin-bottom: 20px;
    font-size: 24px;
}

.homeText span {
    color: var(--mainColor);
}

.homeText p {
    font-size: var(--pFont);
    color: var(--secondColor);
    line-height: 25px;
    margin-bottom: 20px;
}

.homeImage {}

.homeSocialMedia a {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: var(--bgColor);
    margin: 0 20px 30px 0;

}

.homeSocialMedia a:hover {
    transform: scale(1.2);
    background: rgb(139, 0, 0);
    transition: 0.50s;

}

.btn {
    display: inline-block;
    color: var(--bgColor);
    background: var(--mainColor);
    font-size: var(--pFont);
    padding: 10px 35px;
    border-radius: 10px;
    transition: ease .50s;
}

.btn:hover {
    transform: scale(1.2);
}


.serviceIntens {
    display: grid;
    /*definindo largura minima e largura maxima*/
    grid-template-columns: repeat(auto-fit, minmax(210px, auto));
    grid-gap: 2rem;
    align-items: center;
    text-align: center;
}

.serviceIten {
    padding: 50px;
    transition: ease 0.50s;
    cursor: pointer;
}

.serviceIntenImage {
    max-height: 100%;
    width: 80px;
    height: auto;
    margin-bottom: 20px;
}

.serviceIten h3 {
    font-size: 24px;
    margin-bottom: 20px;
}

.serviceIten p {
    font-size: var(--pFont);
    color: var(--secondColor);
    line-height: 25px;
}

.serviceIten:hover {
    background: #fff;
    box-shadow: 20px 0 90px 0 rgb(10 10 70 / 10%);
    border-radius: 10px;
    will-change: transform;
    /*A propriedade will-change do CSS fornece um modo dos autores dizerem aos 
    navegadores sobre que tipo de mudanças devem ser esperadas no elemento, 
    então o navegador pode fazer as otimizações apropriadas  com antecedência, 
    antes do elemento ser efetivamente modificado”. 
    Fonte: https://developer.mozilla.org/pt-BR/docs/Web/CSS/will-change
    */
    transform: perspective (1000px) rotateX(4.80deg) rotateY(10.2deg) scale3d(1.8, 1.0, 1.0);
}

.about {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    text-align: center;
    grid-gap: 2rem;
}

.about img {
    max-width: 100%;
    width: 350px;
    height: auto;
}

.aboutText h3 {
    font-size: 32px;
    margin-bottom: 20px;
}

.aboutText p {
    font-size: var(--pFont);
    color: var(--secondColor);
    line-height: 25px;
    margin-bottom: 20px;

}

.portfolioHead {
    align-items: center;
}

.portfolioHead h3 {
    font-size: 32px;
    margin-bottom: 20px;
}

.portfolioHead p {
    font-size: var(--pFont);
    color: var(--secondColor);
    line-height: 25px;
    margin-bottom: 20px;
}

.portfolioContent {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    grid-gap: 2rem;
    align-items: center;
    margin-top: 10px;
    text-align: center;
    cursor: pointer;
}

.colunas {
    position: relative;
}

.colunas img {
    max-width: 100%;
    width: 350px;
    height: auto;
    /* (OBJECT FIT COVER) Com esse valor, a imagem é redimensionada com sua proporção mantida, contudo, ela será 
    redimensionada para que não deixe nenhum espaço vazio no contêiner
    FONT: https://www.alura.com.br/artigos/css-object-fit-trabalhando-proporcoes*/
    object-fit: cover;
    border-radius: 10px;
}

.portfolioContentText h3 {
    position: absolute;
    width: 100%;
    font-size: 35px;
    color: var(--bgColor);
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    opacity: 0;
    transition: all .50s;
}

.portfolioContentText:hover h3 {
    padding-bottom: 50%;
    opacity: 1;
}

.portfolioContentText h5 {
    position: absolute;
    width: 100%;
    font-size: 16px;
    color: var(--bgColor);
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    opacity: 0;
    transition: all .50s;
}

.portfolioContentText:hover h5 {
    padding-bottom: 40%;
    opacity: 1;
}

.contact {
    background: linear-gradient(360deg, #8b008b, #ba55d3);
    margin-top: 150px;
    padding: 50px 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 10px;
}

.contactText h3 {
    font-size: 25px;
    color: var(--bgColor);
    margin-bottom: 20px;
}

.contactText p {
    font-size: var(--pFont);
    color: var(--bgColor);
    margin-bottom: 20px;
}

.formulario input[type="email"] {
    padding-left: 10px;
    max-width: 100%;
    width: 450px;
    background: var(--bgColor);
    color: var(--textColor);
    border: none;
    margin: 0 10px;
    border-radius: 10px;
}

.formulario input[type="submit"] {
    padding: 15px;
    background: var(--mainColor);
    border: none;
    margin: 0 10px;
    border-radius: 10px;
    cursor: pointer;
}


@media(max-width: 1200px) {
    section {
        padding-left: 20px;
        padding-right: 20px;
        transition: .3s;
    }

    .homeImage img {
        max-width: 450px;
        transition: .3s;
    }

    :root {
        --bigFont: 4rem;
        --h2Font: 1rem;
        --pFont: 1rem;
        transition: .3s;
    }
}

@media (max-width: 860px) {
    .home {
        grid-template-columns: 1fr;
        min-height: 100vh;
        grid-gap: 1rem;
    }

    .homeImage img {
        text-align: center;
    }
}

@media(max-width: 768px) {
    #navbarIcon {
        display: block;
    }

    :root {
        --bigFont: 3rem;
        --h2Font: 0.8rem;
        transition: .3s;
    }

    .contact {
        width: 285px;
    }

    .home {
        min-height: 80%;
    }

    .navbarHeader {
        position: absolute;
        top: -1000px;
        left: 0;
        right: 0;
        flex-direction: column;
        background: #ccc;
        opacity: 0.8;
        text-align: center;
        transition: all .50s;
    }

    .navbarHeader a {
        display: block;
        padding: 0.8rem;
    }

    .navbarHeader a:hover {
        background: var(--mainColor);
        color: var(--bgColor);
    }

    .navbarHeader a::after {
        display: none;
    }

    .navbarHeader.active {
        top: 100%;
    }

    .serviceIntens {
        grid-template-columns: 1fr;
    }

    .about {
        grid-template-columns: 1fr;
    }

    .aboutImage {
        text-align: center;
    }

    .aboutText {
        text-align: center;
    }

    .portfolioContent {
        grid-template-columns: 2fr;
    }
}