* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    /* Rolagem da pagina suave */
    text-decoration: none;
}


:root {
    /* Crindo variveis*/
    --bgColor: #f5f5f5;
    --textColor: #1c1c1c;
    --mainColor: #ff6347;
    --secondColor: #b3b2b2;
    --bigFont: 4.5rem;
    --h2Font: 3.2rem;
    --pFont: 1.2rem;

}

body {
    background: var(--bgColor);
    color: var(--textColor);

}

header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    /*profundidade*/
    z-index: 10;

}



section {
    max-width: 1100px;
    margin: 0 auto;
    padding: 100px;
}

header.sticky {
    /*alpacidade 80%*/
    color: rgba(255, 255, 255, 0.8);
    padding-top: 5px 0;
    /*Sompra com 10px de distancia e 20% alpacidade*/
    box-shadow: 0 0 10px rgb(0 0 0 / 20%);
}



#header {
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.logoHeader img {
    width: 50px;

}

.navbarHeader {
    display: flex;
    list-style: none;

}

.navbarHeader li {
    position: relative;
}

.navbarHeader a {
    color: var(--textColor);
    font-size: var(--pFont);
    font-weight: 500;
    padding: 10px 20px;
}

.navbarHeader a::after {
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: var(--mainColor);
    bottom: -5px;
    left: 0;
    transition: ease 0.50s;
}

.navbarHeader a:hover::after {
    width: 100%;
}

#navbarIcon {
    font-size: 25px;
    color: var(--textColor);
    z-index: 11;
    cursor: pointer;
    display: none;
}

.btnHeader {
    display: inline-block;
    padding: 10px 25px;
    border: 2px solid var(--mainColor);
    border-radius: 10px;
    color: var(--mainColor);
    letter-spacing: 1px;
    font-size: var(--pFont);
    font-weight: 500;
    transition: ease 0.50s;

}

.btnHeader:hover {
    color: var(--bgColor);
    background: var(--mainColor);
    transform: scale(1.2);
}

.home {
    min-height: 100vh;
    width: 100%;
    height: 100%;
    position: relative;
    display: grid;
    /*grade com duas coluas de tamanhos iguais*/
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    /*Intervalo entre as colunas*/
    grid-gap: 5rem;

}

.homeText h1 {
    margin: 12px 0 25px;
    font-size: var(--bigFont);
}

.homeText h5 {
    margin-bottom: 20px;
    font-size: 24px;
}

.homeText span {
    color: var(--mainColor);
}

.homeText p {
    font-size: var(--pFont);
    color: var(--secondColor);
    line-height: 25px;
    margin-bottom: 20px;
}

.homeSocialMedia a {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: var(--bgColor);
    margin: 0 20px 30px 0;

}

.homeSocialMedia a:hover {
    transform: scale(1.2);
    background: rgb(139, 0, 0);
    transition: 0.50s;

}

.btn {
    display: inline-block;
    color: var(--bgColor);
    background: var(--mainColor);
    font-size: var(--pFont);
    padding: 10px 35px;
    border-radius: 10px;
    transition: ease .50s;
}

.btn:hover {
    transform: scale(1.2);
}


.serviceIntens {
    display: grid;
    /*definindo largura minima e largura maxima*/
    grid-template-columns: repeat(auto-fit, minmax(210px, auto));
    grid-gap: 2rem;
    align-items: center;
    text-align: center;
}

.serviceIten {
    padding: 50px;
    transition: ease 0.50s;
    cursor: pointer;
}

.serviceIntenImage {
    max-height: 100%;
    width: 80px;
    height: auto;
    margin-bottom: 20px;
}

.serviceIten h3 {
    font-size: 24px;
    margin-bottom: 20px;
}

.serviceIten p {
    font-size: var(--pFont);
    color: var(--secondColor);
    line-height: 25px;
}

.serviceIten:hover {
    background: #fff;
    box-shadow: 20px 0 90px 0 rgb(10 10 70 / 10%);
    border-radius: 10px;
    will-change: transform;
    /*A propriedade will-change do CSS fornece um modo dos autores dizerem aos 
    navegadores sobre que tipo de mudanças devem ser esperadas no elemento, 
    então o navegador pode fazer as otimizações apropriadas  com antecedência, 
    antes do elemento ser efetivamente modificado”. 
    Fonte: https://developer.mozilla.org/pt-BR/docs/Web/CSS/will-change
    */
    transform: perspective (1000px) rotateX(4.80deg) rotateY(10.2deg) scale3d(1.8, 1.0, 1.0);
}

.about {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    text-align: center;
    grid-gap: 2rem;
}

.about img {
    max-width: 100%;
    width: 350px;
    height: auto;
}

.aboutText h3 {
    font-size: 32px;
    margin-bottom: 20px;
}

.aboutText p {
    font-size: var(--pFont);
    color: var(--secondColor);
    line-height: 25px;
    margin-bottom: 20px;

}